<!DOCTYPE html>
<html>
<body>
    <h1>Mean squared error: {{ mse }}</h1>
    <img src="{{ url_for('static', filename='output.png') }}" alt="output image">
<h2>Predict Apparent Temperature</h2>

<form action="/predict" method="post">
    <label for="temperature">Temperature (C):</label><br>
    <input type="number" step="any" id="temperature" name="temperature" value=""><br>
    <label for="humidity">Humidity:</label><br>
    <input type="number" step="any" id="humidity" name="humidity" value=""><br>
    <label for="windspeed">Wind Speed (km/h):</label><br>
    <input type="number" step="any" id="windspeed" name="windspeed" value=""><br><br>
    <input type="submit" value="Predict">
</form> 

{% if prediction %}
  <h2>Predicted Apparent Temperature: {{ prediction }}</h2>
{% endif %}

</body>
</html>